# Compiled object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app
main

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.so
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
